@page "/history"
@inject IChatService ChatService
@using PetWorld.Application.Interfaces
@using PetWorld.Domain.Entities

<h3>History</h3>
@if (history != null)
{
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Iterations</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var session in history)
        {
            <tr>
                <td>@session.CreatedAt</td>
                <td>@session.Question</td>
                <td>@session.Answer</td>
                <td>@session.IterationCount</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Loading...</p>
}

@code {
    IEnumerable<ChatSession>? history;
    protected override async Task OnInitializedAsync()
    {
        history = await ChatService.GetHistoryAsync();
    }
    
}

